section.intro {
    height: 100vh;
    align-items: center;
    display: flex;
}

.skill_green {
    background-color: greenyellow;
    font-weight: bolder;
}

.skill_yellow {
    background-color: orange;
    font-weight: bolder;
}

.skill_red {
    background-color: orangered;
    font-weight: bolder;
}