#main {
    section.intro {
        height: 100vh;
        align-items: center;
        display: flex;
    }

    .skill_green {
        background-color: #c4ef83;
        color: #278800;
        font-weight: bolder;
        display: inline-block;
        padding: 0px 0.4em;
        border-radius: 0.3em;
    }

    .skill_yellow {
        background-color: #ffe876;
        color: #807b00;
        font-weight: bolder;
        display: inline-block;
        padding: 0px 0.4em;
        border-radius: 0.3em;
    }

    .skill_red {
        background-color: #ffb093;
        color: #b94c23;
        font-weight: bolder;
        display: inline-block;
        padding: 0px 0.4em;
        border-radius: 0.3em;
    }

    .skill_gray {
        background-color: #c3c3c3;
        color: #666666;
        font-weight: bolder;
        display: inline-block;
        padding: 0px 0.4em;
        border-radius: 0.3em;
    }

    .left_align {
        text-align: left;
    }

    .center_align {
        text-align: center;
    }
}

div.centered {
    display: block;
    margin: 0 auto 2em auto;
    text-align: center;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

figure {
    text-align: center;
    font-size: 0.8em;
    font-weight: lighter;
    max-width: fit-content;

    &.center{
        margin: auto;
    }
}