section.intro {
    height: 100vh;
    align-items: center;
    display: flex;
}

.skill_green {
    background-color: #c4ef83;
    color: #278800;
    font-weight: bolder;
    display: inline-block;
    padding: 0px 0.4em;
    border-radius: 0.3em;
}

.skill_yellow {
    background-color: #ffe876;
    color: #807b00;
    font-weight: bolder;
    display: inline-block;
    padding: 0px 0.4em;
    border-radius: 0.3em;
}

.skill_red {
    background-color: #ffb093;
    color: #b94c23;
    font-weight: bolder;
    display: inline-block;
    padding: 0px 0.4em;
    border-radius: 0.3em;
}

.skill_gray {
    background-color: #c3c3c3;
    color: #666666;
    font-weight: bolder;
    display: inline-block;
    padding: 0px 0.4em;
    border-radius: 0.3em;
}